@page
@model PROJECT_PRN211.Pages.Pages.InventoryModel
@{
}
<style>
    .result table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    .result th,
    .result td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        width: auto;
    }
</style>
<h3>Inventory Management</h3>
<div style="margin-top:2em" class="result">
        <table border="1">
            <thead style="text-align:center">
                <tr class="tr_table">
                    <td class="td_table">Bill Import ID</td>
                    <td class="td_table">Import Date</td>
                    <td class="td_table">Số lượng</td>
                    <td class="td_table">Phân loại</td>
                    <td class="td_table">Nhà cung cấp</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.billImports)
                {
                    <tr class="tr_table">
                        <td class="td_table">@item.BillImportId</td>
                        <td class="td_table">@item.DateImport</td>
                        <td class="td_table">@item.Amount</td>
                        <td class="td_table">@item.Category.CategoryName</td>
                        <td class="td_table">@item.Supplier.SupplierName</td>
                    </tr>
                }
            </tbody>
            

        </table>
        <a href="/Pages/ImportProduct">Nhập thêm hàng</a>
        <a href="/Pages/HomeView">Back to home</a>
</div>
